$dark-grey: rgb(37,40,46);
$medium-grey: rgb(58,65,73);

body, html {
    background: $dark-grey;
}

.login-panel.panel.panel-default {
    border: none;
    background: rgb(37,40,46);;
    color: #fff;
    margin-top: 0;
}

.login-panel.panel.panel-default input{
    background: $medium-grey;
    border: none;
}

.checkbox {
    margin: 20px 0 30px 0;
}

.login-panel.panel.panel-default.form-group input {
    margin: 50px 0;
  color: #c6c6c6;
}

.panel-heading.panel-heading {
    background: $dark-grey;
    border: none;
}

img {
    width: 250px;
    display: block;
    margin: 90px auto 20px auto;
}

.controls input{
  color: #c6c6c6;
}