{%  extends 'common/base.html' %}

{% block main_content %}

    <div class="panel panel-default" id="panel-main">

        <h1 class="page-header">Add New Vehicle</h1>

        {% load crispy_forms_tags %}
         <form id="add-vehicle-form" method="post"> {% csrf_token %}
             {{ vehicleform|crispy }}
             <input class="btn btn-success" id="add-vehicle-form-submit" type="submit">
             <a class="btn btn-danger" id="go-back" href="../vehicles">Go back</a>
         </form>

        <div class="alert alert-success alert-dismissable" style="display:{% if status == "pass" %}block{% else %}none{% endif %};">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Vehicle Added Successfully
        </div>
        <div class="alert alert-danger alert-dismissable" style="display:{% if status == "fail" %}block{% else %}none{% endif %};">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Vehicle was not added
        </div>

    </div>

{% endblock %}